.header-none {
   display: none;
}

.form-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   gap: 0.75rem;
}

.input-wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 0.75rem;
}

.toggle-wrapper {
   position: relative;

   display: flex;
   align-content: center;

   row-gap: 0.75rem;

   margin-top: 1.25rem;

   & label {
      margin-left: 0.5rem;
   }
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 3.5rem;

   margin-top: 2.5rem;
   cursor: pointer;

   border: none;
   border-radius: 0.5rem;
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   -ms-border-radius: 0.5rem;
   -o-border-radius: 0.5rem;

   & img {
      margin-left: 0.5rem;
   }
}

.btn-primary {
   background-color: var(--background-tertiary);
   color: var(--content-secondary);
   font: var(--label-lg-md);
   text-transform: uppercase;

   &:hover {
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;

      border: double 0.1rem transparent;
      background-image: linear-gradient(var(--background-secondary), var(--background-secondary)),
         linear-gradient(91.26deg, #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%);
      background-origin: border-box;
      background-clip: content-box, border-box;

      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
   }
}

.btn-secondary {
   background-color: var(--background-tertiary);
   color: var(--content-secondary);
   font: var(--label-lg-md);
   text-transform: uppercase;

   width: 30.125rem;

   &:hover {
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;

      border: double 0.1rem transparent;
      background-image: linear-gradient(var(--background-secondary), var(--background-secondary)),
         linear-gradient(91.26deg, #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%);
      background-origin: border-box;
      background-clip: content-box, border-box;

      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
   }
}

.form-result {
   width: 30.125rem;
   margin-top: 3.6875rem;

   display: flex;
   align-items: center;
   justify-content: center;
}

.form-info-none {
   display: none;
}

.form-result-none {
   display: none;
}

.container-result header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   & h1 {
      text-transform: uppercase;
      font: var(--label-md-b);
   }

   & span {
      text-transform: uppercase;
      margin-top: 0.25rem;
      font: var(--overline);
   }
}

.square {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 5.25rem;
   height: 5.25rem;
   background-color: var(--content-brand);
   border-radius: 1.75rem;
   -webkit-border-radius: 1.75rem;
   -moz-border-radius: 1.75rem;
   -ms-border-radius: 1.75rem;
   -o-border-radius: 1.75rem;
   animation: rotating-square .8s ease-in-out both;
   -webkit-animation: rotating-square .8s ease-in-out both;
}

.color-inverse {
   color: var(--color-inverse);
}

.numbers-result {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0.25rem;
   margin-block: 2.5rem;

   & h1 {
      font: var(--display-md-eb);
      /* color: var(--content-brand); */
      color: var(--color-inverse);
   }
}

@media (width < 391px) {
   .form-result {
      width: 100%;
      margin-top: initial;

      display: flex;
      align-items: center;
      justify-content: center;
   }

   .btn-secondary {
      width: 100%;
   }
}

@keyframes rotating-square {
   from {
      transform: rotate(0) scale(0);
      -webkit-transform: rotate(0) scale(0);
      -moz-transform: rotate(0) scale(0);
      -ms-transform: rotate(0) scale(0);
      -o-transform: rotate(0) scale(0);
}
   to {
      transform: rotate(360deg) scale(1);
      -webkit-transform: rotate(360deg) scale(1);
      -moz-transform: rotate(360deg) scale(1);
      -ms-transform: rotate(360deg) scale(1);
      -o-transform: rotate(360deg) scale(1);
}
}
