.container {
   display: grid;
   grid-template-columns: calc(2, 1fr);
   grid-template-areas:
   'text-info form-info'
   'about-lt form-info';

   column-gap: 6.75rem;
   row-gap: 2.375rem;

   margin-top: 5.5625rem;
}

#text-info {
   grid-area: 'text-info';
}

#about-lt {
   grid-area: 'about';
}

#form-info { 
   grid-area: 'form-info';
}

@media (width < 391px) {
   
   .container {
      grid-template-columns: 1fr;
      grid-template-areas:
      'text-info'
      'form-info'
      'about';
      
      gap: 2.625rem;

      margin-top: 2.5rem;
   }

}